{&.MechDef.Description.UIName&}
{| class="wikitable sortable mw-collapsible" style="background: black"
|-
!Name
!Signature
|'''FACTIONS (3039+)'''
!Weight!!Class!!Hardpoints!!Current Quirks
|-
!{{FP icon|{&.ChassisDef.Description.Icon&}.jpg|{&.CAPName&}}}
|{&.ChassisDef.VariantName&}
|
*
*
*
*
*
|{&.ChassisDef.Tonnage&}
|{&.ChassisDef.WeightClass&}
|{&.HardPoints.Ballistic&}B {&.HardPoints.Energy&}E {&.HardPoints.Missile&}M {&.HardPoints.AntiPersonnel&}S {&.ChassisDef.MaxJumpjets&}JJ
|[[{&.StockRoles&}]]
{&.QuirkText&}

|}
{| class="wikitable" style="background: black"
!style="color: grey" | Firepower:
|style="color: grey" |{&.Damage&} DMG, {&.HeatDmg&} Heat DMG, {&.Stability&} Stab.
|-
!style="color: silver" |Heat:
|{&.HeatSink&} Heatsinking, {&.Heat&} Alpha strike, {&.JumpHeat&} Jump, {&.Shutdown&} Shutdown
|-
!style="color: grey" |Movement:
|style="color: grey" |{&.Movement.Distance.Sprint&} / {&.Movement.Hex.Sprint&} hex Sprint, {&.Movement.Distance.Walk&} / {&.Movement.Hex.Walk&} hex Walk, {&.Movement.Distance.Jump&} Jump, {&.JumpJets&}
|-
!style="color: grey" |Durability:
|style="color: grey" |{&.Structure&} Structure, {&.Armor&} Armour, {&.ChassisDef.Stability&}% Stab Def, {&.DFASelfDamage&} DFA Self DMG
|-
!style="color: silver" |Melee:
|{&.ChassisDef.MeleeDamage&} Base DMG, {&.Melee.Bonus&} Quirk, {&.Melee.Total&} Total Dmg, {&.ChassisDef.MeleeInstability&} Stab., {&.DFADamage&} DFA
|}
