{&.MechDef.Description.UIName&}
{| class="wikitable sortable mw-collapsible" style="background: black"
|-
!Name
!Signature
|'''FACTIONS (3039+)'''
!Weight!!Class!!Hardpoints!!Current Quirks
|-
!{{FP icon|{&.ChassisDef.Description.Icon&}.jpg|{&.CAPName&}}}
|{&.ChassisDef.VariantName&}
|
*
*
*
*
*
|{&.ChassisDef.Tonnage&}
|{&.ChassisDef.WeightClass&}
|{&.HardPoints.Ballistic&}B {&.HardPoints.Energy&}E {&.HardPoints.Missile&}M {&.HardPoints.AntiPersonnel&}S {&.ChassisDef.MaxJumpjets&}JJ
|[[{&.ChassisDef.StockRole&}]]
{&.QuirkText&}

|}
{| class="wikitable" style="background: black"
!style="color: grey" | Firepower:
|style="color: grey" |{&.Damage&} DMG, {&.HeatDmg&} Heat DMG, {&.Stability&} Stab.
|-
!style="color: silver" |Heat:
|{&.HeatSink&} Heatsinking, {&.Heat&} Alpha strike, {&.JumpHeat&} Jump, {&.Shutdown&} Shutdown
|-
!style="color: grey" |Movement:
|style="color: grey" |{&.Distance.Sprint&} / {&.Hex.Sprint&} hex Sprint, {&.Distance.Walk&} / {&.Hex.Walk&} hex Walk, {&.Distance.Jump&} Jump, {&.JumpJets&}
|-
!style="color: silver" |Range:
|580 max, 200 Opt (To be removed?)
|-
!style="color: grey" |Durability:
|style="color: grey" |{&.Structure&} Structure, {&.Armor&} Armour, {&.ChassisDef.Stability&}% Stab Def, {&.ChassisDef.DFASelfDamage&} DFA Self DMG
|-
!style="color: silver" |Melee:
|{&.ChassisDef.MeleeDamage&} Base DMG, -0 Quirk, 33 Total Dmg, {&.ChassisDef.MeleeInstability&} Stab., {&.ChassisDef.DFADamage&} DFA
|}
[[File:Catapult-CPLT-P.png|frameless|1316x1316px]]
